<footer class="page-footer font-small ng-lighten">
    <div class="container-fluid px-lg-5 px-sm-3 mt-5 pt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-3 col-sm-3 mx-auto mb-4">
          <h4 class="text-uppercase font-weight-bold text-dark mb-2">About JABB</h4>
          <hr class="mb-4 mt-0 bg-color" style="padding: 1px;">
          <p class="text-dark">The Journal of Applied Biology & Biotechnology is a open access, peer-reviewed journal published by Open Science
          Publishers LLP (registers under section 12(1) of LLP Act 2008). The journal publish on Bi-monthly basis (6 issue per
          year) and available in both online and print format  <a routerLink="/aboutus">Read more.</a></p>
          <div class="d-flex mt-lg-5 mt-sm-3"> 
            <h4 class="text-uppercase font-weight-bold text-dark mb-2 pb-1 mr-lg-2" style="border-bottom: 1px solid #6f6f6f;width: 85px;">Follow us</h4>
            <span><a [href]="['https://www.facebook.com/Journal-of-Applied-Biology-Biotechnology-207909593051827/']" target="_blank" class="card-link text-dark"><i class="font mx-3 fa fa-facebook" aria-hidden="true"></i></a></span>
            <span><a [href]="['https://twitter.com/jabbonline']" target="_blank" class="card-link text-dark"><i class="font mx-3 fa fa-twitter" aria-hidden="true"></i></a></span>
          </div>
        </div>
        <div class="col-md-2 col-lg-3 col-sm-2 mx-auto mb-4">
          <h4 class="text-uppercase font-weight-bold text-dark mb-2">Important Links</h4>
          <hr class="mb-4 mt-0 bg-color" style="padding: 1px;">
          <p class="m-0">
            <a routerLink="/archives" class="nav-link text-dark">Archived Issues</a>
          </p>
          <p class="m-0">
            <a routerLink="/editorialboard" class="nav-link text-dark">Editorial Board</a>
          </p>
          <!-- <p class="m-0">
            <a routerLink="/aboutus" class="nav-link text-dark">Subscription</a>
          </p> -->
          <p class="m-0">
            <a routerLink="/submitManuscript" class="nav-link text-dark">Submit Manuscript</a>
          </p>
          <p class="m-0">
            <a routerLink="/authorsguideline" class="nav-link text-dark">Authors Guidelines</a>
          </p>
          <p class="m-0">
            <a routerLink="/aboutus" class="nav-link text-dark">Abstracting and Indexing</a>
          </p>
          <p class="m-0">
            <a routerLink="/authorsguideline" class="nav-link text-dark">Article Proccessing Charges</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-2 mx-auto mb-4" style="line-height: 1.2;">
          <h4 class="text-uppercase font-weight-bold text-dark mb-2">journal Policies</h4>
          <hr class="mb-4 mt-0 bg-color" style="padding: 1px;">
          <p class="m-0">
            <a routerLink="/policies/2" class="nav-link text-dark">Open Access Policy
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/3" class="nav-link text-dark">Peer-review Policy
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/4" class="nav-link text-dark">Waiver Policy
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/5" class="nav-link text-dark">Author Self-Archiving policies
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/6" class="nav-link text-dark">Digital Preservation
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/7" class="nav-link text-dark">CrossMark Policy
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/8" class="nav-link text-dark">Plagiarism Policy
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/9" class="nav-link text-dark">Corrections and Retraction
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/10" class="nav-link text-dark">Preprints policy
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/11" class="nav-link text-dark">Conflicts of Interest
            </a></p>
          <p class="m-0">
            <a routerLink="/policies/12" class="nav-link text-dark">Complaints and appeals
            </a></p>
  
        </div>
        <div class="col-md-4 col-lg-3 col-sm-3 mx-auto mb-md-0 mb-4" style="line-height: 1.5;">
          <h4 class="text-uppercase font-weight-bold text-dark mb-2">Contact Us</h4>
          <hr class="mb-4 mt-0 bg-color" style="padding: 1px;">
          <b class="text-dark">For all queries related to manuscripts:</b>
          <p class="text-dark mb-0">Email: <a [href]="['mailto:editor@jabonline.in']" class="nav-link text-dark d-inline-flex p-0">editor@jabonline.in</a></p>
          <p class="text-dark ">Phone: <a [href]="['tel:+918871343380']" class="nav-link text-dark d-inline-flex p-0">+91-8871343380</a></p>

          <b class="text-dark">For reprints, licensing, and permission:</b>
          <p class="text-dark">Email: <a [href]="['mailto:opensciencepublishersllp@gmail.com']"
              class="nav-link text-dark d-inline-flex p-0">opensciencepublishersllp@gmail.com</a>
          </p>
          <b class="text-dark">Postal address:</b>
          <p  class="text-dark">Open Science Publishers LLP<br>
          L-702, Sun Valley, Dongarpur Road,<br>
          Gwalior-474002, India.<br>
          Phone: <a [href]="['tel:+918770695689']" class="nav-link text-dark d-inline-flex p-0">+91-8770695689</a></p>
  
        </div>
      </div>
    </div>
    <div class="px-lg-5 px-sm-3 py-3 bg-base text-white">
      <div class="row justify-content-between w-100  m-0">
        <div class="col-lg-8 col-sm-12 col-md-12 px-sm-4 px-lg-3 d-flex align-items-center">© 2013-{{date | date:'yyyy'}} Open Science Publishers LLP, unless otherwise stated.</div>
        <div class="col-lg-4 col-sm-12 col-md-12 px-sm-4 px-lg-0 justify-content-center d-flex align-items-center"><a class="nav-link text-white" routerLink="/terms&conditions">Terms & Conditions</a> | <a class="nav-link text-white" routerLink="/terms&conditions">Privacy Policy</a> | <a class="nav-link text-white" routerLink="/terms&conditions">Cookies policy</a></div>
      </div>
    </div>
  </footer>