<div class="py-lg-5 py-5"></div>
<div class="mt-lg-5">
    <div class="container-fluid px-lg-5 px-3">
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-md-12 pr-lg-5  mb-lg-0 mb-3">
                <app-left-menu></app-left-menu>
            </div>
            <div class="col-lg-9 col-sm-12 col-md-12">
                <div class="bg-white px-lg-4 px-4 py-1 mb-3">
                    <ng-container *ngFor="let policiesDataShow$ of policiesDataShow">
                    <h1 class="my-4 jab-color">{{policiesDataShow$.policies_name}}</h1>
                    <p [innerHTML]="policiesDataShow$.contents | htmlEntityDecode"></p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>